<div class="popup-login popup{% if hidden is defined %} hidden-popup{% endif %}">
  <form class="form-horizontal" method="post" action="{{ path('login_check') }}">
    <legend>log in</legend>
    {% if error is defined %}
    <div class="alert alert-error">
      {{ error.message }}
    </div>
    {% endif %}
    <div class="control-group">
      <label class="control-label" for="mail">E-Mail</label>
      <div class="controls">
        <input type="email" name="_username" id="mail"{% if last_username is defined %} value="{{last_username}}"{% endif %}>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" name="_password" id="password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">login</button>
      </div>
    </div>
  </form>
</div>