{% form_theme reg_form 'maschitCodingNightmaresWebsiteBundle:Form:BootstrapTheme.html.twig' %}
<div class="popup-register popup{% if hidden is defined %} hidden-popup{% endif %}">
  <form class="form-horizontal" method="post" action="{{ path('register') }}">
    <legend>new Account</legend>
    {{ form_row(reg_form.email) }}
    {{ form_row(reg_form.password) }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">create account</button>
      </div>
    </div>
    {{ form_rest(reg_form) }}
  </form>
</div>