<div class="popup-login popup hidden-popup">
  <form class="form-horizontal">
    <legend>log in</legend>
    <div class="control-group">
      <label class="control-label" for="inputEmail">E-Mail</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="E-Mail">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">login</button>
      </div>
    </div>
  </form>
</div>