{% extends "maschitCodingNightmaresWebsiteBundle::layout.html.twig" %}

{% block content %}

  <article class="">
    <header>
      <h3>Testeintrag</h3>
      <div class="date" style="float:right;margin-left:1em;">{{ "now"|date('d.m.Y') }}</div>
      <div class="votes">
        42 <i class="icon-white icon-thumbs-up"></i> | <i class="icon-white icon-thumbs-down"></i> 23
      </div>
    </header>
    <div class="code-container">
      {{code|raw}}
    </div>
    <footer>
      Tags: doof, test
    </footer>
  </article>
{% endblock %}
